body {
    background: url(../images/homepage.jpg) no-repeat;
    background-size: cover ;
}
.content {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(69, 207, 231, 0.74);
    border-radius: 10px;
    transition: all ease-in .2s;
}
.content:hover{
    border-radius: 60px;
}
#banner .content h1{
    font-size: 50px;
    color: #fff;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0  25px;
    text-align: center;   
}
